*{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(255, 255, 255);
}
.model_two{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.468);
    width: 100vw;
    height: 100vh;
    text-align: center;
    z-index:5;
    animation-name:anim ;
    animation-duration: 1s;
    top:-0.2%
    }
    .gth{
        position: absolute;
        left: 95%;
        bottom: 92%;
        cursor: pointer;
        opacity: 0.5;
        
        }
        .model_one{


            display:block;
        }
        .gth2{
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
            opacity:0.8;
            font-size:60px;
            color: rgb(255, 255, 255);
            text-shadow:0px 0px 5px rgb(0, 0, 0) ;
        }
        .gth3{
            padding: 10px 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        }
        .nav{
            list-style-type: none;
            display:flex;
            width:350px ;
            justify-content: space-evenly;
        }

        .nav_item:hover{
            color: rgb(167, 11, 179);
            cursor: pointer;
            transition: 0.4s;
        }
        .nav_item{
            font-size:150% ;
            transition: 0.4s;

        }
        .imeg:hover{
            cursor: pointer;
            filter: invert(80%);
            transition:0.4s;
        }
        .header{
        background-color: rgb(97, 84, 84);;
        box-shadow:0px 0px 7px black;
        z-index:3;
        position: relative;
        height:70px;
        }
        .mine{
        height: 470px;  
        }
        .janr{
            height: 200px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
          }
          .img1{
            width: 150px;
            height: 200px;
            background: url("Жанры/головоломки.png");
            background-size: 100px;
            background-position: center;
            background-repeat: no-repeat;
            transition: 0.5s;
          }
          .img1:hover{
            background: url("Жанры/Головоломки2.png");
            background-size: 100px;
            background-position: center;
            background-repeat: no-repeat;
            transition: 0.5s;
          }
          .img2{
            width: 150px;
            height: 200px;
            background: url("Жанры/Кооператив.png");
            background-size: 100px;
            background-position: center;
            background-repeat: no-repeat;
            transition: 0.5s;
          }
          .img2:hover{
            background: url("Жанры/Кооператив\ 2.png");
            background-size: 100px;
            background-position: center;
            background-repeat: no-repeat;
            transition: 0.5s;
          }
          .img3{
            width: 150px;
            height: 200px;
            background: url("Жанры/Приключенческие.png");
            background-size: 100px;
            background-position: center;
            background-repeat: no-repeat;
            transition: 0.5s;
          }
          .img3:hover{
            background: url("Жанры/Приключенческие\ 2.png");
            background-size: 100px;
            background-position: center;
            background-repeat: no-repeat;
            transition: 0.5s;
          }
          .img4{
            width: 150px;
            height: 200px;
            background: url("Жанры/Ролевые.png");
            background-size: 100px;
            background-position: center;
            background-repeat: no-repeat;
            transition: 0.5s;
          }
          .img4:hover{
            background: url("Жанры/Ролевые\ 1.png");
            background-size: 100px;
            background-position: center;
            background-repeat: no-repeat;
            transition: 0.5s;
          }
          .img5{
            width: 150px;
            height: 200px;
            background: url("Жанры/Триллер.png");
            background-size: 100px;
            background-position: center;
            background-repeat: no-repeat;
            transition: 0.5s;
          }
          .img5:hover{
            background: url("Жанры/Триллер\ 1.png");
            background-size: 100px;
            background-position: center;
            background-repeat: no-repeat;
            transition: 0.5s;
          }
          .img_text{
            text-align: center;
            font-family: 'Shantell Sans', cursive;
          }
          .ram{
            position: absolute;
            right: 0;
            top: 9.6%;
            height: 87.5%;
            width: 10%;
            background-color: antiquewhite;
            /* box-shadow:0px 0px 20px purple ; */
            border-left: 3px solid black;
            border-top: 3px solid black;
            border-bottom: 3px solid black;
            z-index: 1;
            padding: 10px;
            justify-content:space-evenly;
            

          }
          .pad{
            padding-right: 10%;

          }
          .host0{
            text-align: center;
          }
          /* Базовые стили слоя затемнения и модального окна  */
.overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  visibility: hidden;
  /* фон затемнения */
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  position: fixed; /* фиксированное поцизионирование */
  cursor: default; /* тип курсара */
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  -ms-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
  }
  .overlay:target {
  visibility: visible;
  opacity: 1;
  }
  .is-image {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display:block;
  margin: 10&;
  width: 100%;
  height: auto;
  /* скругление углов встроенных картинок */
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  }
  /* встроенные элементы м-медиа, фреймы */
  embed, iframe {
  top: 0;
  right: 0;
  bottom: 0; 
  left: 0; 
  display:block;
  margin: auto;
  min-width: 320px;
  max-width: 600px;
  width: 100%;
  }
  .popup h1 { /* заголовок 1 */
  color: #008000;
  text-align: left;
  text-shadow: 0 1px 3px rgba(0,0,0,.3);
  font:24px 'Trebuchet MS', Helvetica, sans-serif;
  font-weight: bold;
  }
  .popup h2 { /* заголовок 2 */
  color: #008000;
  text-align: left;
  text-shadow: 0 1px 3px rgba(0,0,0,.3);
  font:22px 'Trebuchet MS', Helvetica, sans-serif;
  }
  /*** Формируем стили модального окна ***/
  .popup {
  top: 0;
  right: 0;
  left: 0;
  font-size: 14px;
  z-index: 10;
  display: block;
  visibility: hidden;
  margin: 0 auto;
  width: 90%;
  min-width: 320px;
  max-width: 600px;
  /* фиксированное позиционирование, окно стабильно при прокрутке */
  position: fixed;
  padding: 15px;
  border: 1px solid #383838;
  /* скругление углов */
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  background-color: #FFFFFF;
  /* внешняя тень блока */
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
  -ms-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
  -o-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);
  /* полная прозрачность окна, появление при клике */
  opacity: 0;
  /* эффект перехода (появление) */
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  -ms-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
  }
  /* активируем появление окна и затемнение фона */
  .overlay:target+.popup {
  top: 20%; /* положение окна от верха страницы при появлении */
  visibility: visible;
  opacity: 1; /* убираем прозрачность */
  }
  /* формируем кнопку закрытия */
  .close {
  position: absolute;
  top: -10px;
  right: -10px;padding: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  background-color: rgba(61, 61, 61, 0.8);
  -webkit-box-shadow: 0px 0px 10px #000;
  -moz-box-shadow: 0px 0px 10px #000;
  box-shadow: 0px 0px 10px #000;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  line-height: 20px;
  /* задаём значения и эффект перехода при наведении */
  -webkit-transition: all ease .8s;
  -moz-transition: all ease .8s;
  -ms-transition: all ease .8s;
  -o-transition: all ease .8s;
  transition: all ease .8s;
  }
  .close:before {
  color: rgba(255, 255, 255, 0.9);
  content: "X";
  text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
  font-size: 12px;
  }
  .close:hover {
  background-color: rgba(252, 20, 0, 0.8);
  /* крутим кнопку при наведении */
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);    
  }
  /* опционально при добавлении вложений */
  .popup p, .popup div {
  margin-bottom: 10px;
  }
  
  
  /* button */
  
  .button {
  
    font-size: 20px;
    color: white;
    width: 270px;
    text-decoration: none;
    padding: 10px 5px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-family: Helvetica, Arial, sans-serif;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    cursor: pointer;
  
  }
  .button-blue {
    background-color: #0600FF;
    }
  .button:hover {
    background-color: #5555ff;
    box-shadow:0 0 10px 10px #b7b7ff inset;
  }
  .button:active {
      background-color: #0000ff;
      box-shadow:0 0 0 0 #ffffff; 
  }